In [15]:
import numpy as np
import pandas as pd
import networkx as nx
from sklearn.preprocessing import StandardScaler
import stockcorr as sc
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('../data/stock_market_data/stockdf.csv')
all = pd.read_csv('../data/stock_market_data/all_data.csv')

In [6]:
tickers = df.drop(columns='Date').columns
print(tickers)
print(len(df[df['AAPL'] > 0]))
print(len(df[df['AAC'] > 0]))
print(df.shape)

# removing all tickers with less than 7 years of prices
lengt_of_business_year = len(df[df['Date'] < '2011-01-04'])
list_low_data = []

for i in tickers:
    if len(df[i]) - len(df[i].isnull()) < 7*lengt_of_business_year:
        list_low_data.append(i)

print(len(list_low_data))

Index(['A', 'AAC', 'AAL', 'AAP', 'AAPL', 'AAT', 'ABBV', 'ABC', 'ABM', 'ABMD',
       ...
       'XOM', 'XPO', 'XYL', 'YUM', 'ZBH', 'ZDPY', 'ZION', 'ZNH', 'ZOES',
       'ZTS'],
      dtype='object', length=919)
3225
400
(3226, 920)
919

In [45]:
print(list_low_data)
x = df.drop(columns=list_low_data)
print(len(x.columns))

['AAC', 'ADPT', 'AHL', 'AI', 'ALTR', 'AMTD', 'APL', 'BALT', 'BGC', 'BHI', 'BIN', 'BNJ', 'BNK', 'BPK', 'BRP', 'BTF', 'BTU', 'CBL', 'CCZ', 'CRC', 'CTQ', 'DV', 'EE', 'FRMC', 'GCH', 'GLF', 'GNI', 'GRR', 'HOT', 'HPE', 'HTZ', 'ICB', 'IR', 'MBLY', 'MEG', 'MIG', 'MZF', 'NBD', 'NE', 'NSM', 'NYRT', 'OB', 'PAY', 'PGEM', 'PT', 'ROC', 'RSPP', 'SMI', 'TIME', 'TVPT', 'TW', 'UA', 'VR', 'ZOES']
866

In [98]:
##data_ = np.array([np.std(x[ticker]) for ticker in x.drop(columns=['Date']).columns]).reshape(1, len(x.drop(columns=['Date']).columns))
## Standardize each ticker in x
scaler = StandardScaler()
df = pd.DataFrame(scaler.fit_transform(x.drop(columns=['Date'])))


std_ = np.std(df, axis=0)

# Get the standardised mean and standard deviation of the data in x
# std_ = np.array([np.std((x[ticker] - np.mean(x[ticker])/np.std(x[ticker]))) for ticker in x.drop(columns=['Date']).columns]).reshape(1, len(x.drop(columns=['Date']).columns))


## find json file named COMP.json

FileNotFoundError: [Errno 2] No such file or directory: 'data/stock_market_data/{i}/json/'

In [91]:
def adding_market_index(df = pd.read_csv('../data/stock_market_data/stockdf.csv')):
    
    ## Make sure that date is datetime so that easily mergable and that date is index
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date')
    
    ## Reading in the market_index and making sure that date is datetime so that easily mergable and that date is index
    hist_data = pd.read_csv('../data/shared_data/HistoricalData_1667914714805.csv')
    hist_data['Date'] = pd.to_datetime(hist_data['Date'])
    hist_data.set_index('Date')

    ## Join df with hist_data on Date
    x = df.join(hist_data.set_index('Date'), on='Date', how='left', lsuffix='_caller', rsuffix='_other')
    
    ## formating column
    x.rename(columns={'Close/Last': 'COMP'})

    return x




x = adding_market_index()

In [84]:
# reverse the row order of x
x.head()

,Date,A,AAC,AAL,AAP,AAPL,AAT,ABBV,ABC,ABM,...,ZDPY,ZION,ZNH,ZOES,ZTS,COMP,Volume,Open,High,Low
0,2010-01-04,22.389128,NaN,4.77,40.380001,7.643214,NaN,NaN,26.629999,21.260000,...,NaN,13.33,15.980000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-05,22.145924,NaN,5.31,40.139999,7.656429,NaN,NaN,26.440001,20.969999,...,NaN,13.80,16.240000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-06,22.067240,NaN,5.09,40.490002,7.534643,NaN,NaN,26.190001,20.969999,...,NaN,15.00,16.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-07,22.038628,NaN,5.24,40.480000,7.520714,NaN,NaN,25.770000,21.240000,...,NaN,16.68,16.309999,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-08,22.031473,NaN,5.14,40.639999,7.570714,NaN,NaN,26.049999,21.219999,...,NaN,16.41,16.280001,NaN,NaN,NaN,NaN,NaN,NaN,NaN